// Here you can add other styles
@import '~simple-line-icons/scss/simple-line-icons';

html {
    font-size: 75%;
}

// Fix mobile footer
.app-footer {
    flex: 0 0;
    padding-top: map-get($spacers, 3);
    padding-bottom: map-get($spacers, 3);
}

.alert-errors-custom {
    font-size: 12px;

    ul {
        padding-left: 10px;
        margin-bottom: 0;
    }
}

.main-search-form {
    .form-group {
        display: inline-block;
        margin-bottom: 0;
    }
    select {
        display: inline-block;
        width: auto;
        min-width: 80px;
    }
}

.asp-table {
    min-width: 5000px;
    width: auto;
}

.pagination-custom-style {
    padding-right: 15px;
    ul {
        display: inline-block;
        letter-spacing: -5px;

        li {
            display: inline-block;
            letter-spacing: 0;
        }
    }
}

.campaign-table td {
    min-width: 130px;
}

.campaign-table th.title {
    min-width: 300px;
}

.color-red {
    color: red !important;
}

.date-report-column-header {
    vertical-align: inherit !important;
    text-align: center;
}
